@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* ## Colors */
:root {
  /* ### Primary */
  --green200: hsl(148, 38%, 91%);
  --green600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 56%);

  /* ### Neutral */
  --white: hsl(0, 0%, 100%);
  --grey500: hsl(186, 15%, 59%);
  --grey900: hsl(187, 24%, 22%);

  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Karla', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--green200);
}

form {
  background-color: var(--white);
  padding: 40px;
  display: grid;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* height: 775px; */
  width: 734px;
}

input {
  border: 1px solid var(--grey500);
  padding: 15px;
  border-radius: var(--border-radius);
}

label {
  font-size: 16px;
  margin: 15px 0;
}

.title-form {
  grid-column: 1/-1;
  font-weight: bold;
}

.container-input {
  display: flex;
  gap: 10px;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email-form {
  grid-column: 1/-1;
}

.query-form {
  grid-column: 1/-1;
}

.container-query {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.container-query div {
  border: 1px solid var(--grey500);
  padding: 15px;
}

.message-form textarea {
  resize: none;
  border: 1px solid var(--grey500);
}

.check-form {
  margin: 20px 0;
}

.message-form textarea,
.container-query div,
input {
  border-radius: var(--border-radius);
}

input[type='button'] {
  background-color: var(--green600);
  color: var(--white);
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}
